        /* essa é a parte do css(estilização web), aqui eu acabei usando id nas tags e as classe que usei no HTML e atribuir as declarações necessárias para concluir a atividade */

    p{
        color: Greenyellow; font-family: 'Times New Roman', Times, serif; font-size: larger;
    }
    .ParteVermelha{
        color: red; font-size: 30px;
    }
    .ParteAzul{
        color: blue; font-size: 30px;
    }