
        /* essa é a parte do css(estilização web), aqui eu acabei usando id nas tags do HTML então eu as identifiquei e atribuir as declarações necessárias para concluir a atividade */

        #A{
            color: greenyellow;
        }

        #B{
            color: red;
            font-size: 21px;
        }

        #C{
            color: greenyellow;
        }

        #D{
            color: blue;
            font-size: 21px;
        }

        #E{
            color: greenyellow;
        }

        #F{
            color: greenyellow;
        }